<a href="https://colab.research.google.com/github/Cole-Pd/DeepDive/blob/main/Start_IMDB_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [2]:
source = {
    'url_1' : 'https://datasets.imdbws.com/name.basics.tsv.gz',
    'url_2' : 'https://datasets.imdbws.com/title.akas.tsv.gz',
    'url_3' : 'https://datasets.imdbws.com/title.basics.tsv.gz',
    'url_4' : 'https://datasets.imdbws.com/title.crew.tsv.gz',
    'url_5' : 'https://datasets.imdbws.com/title.episode.tsv.gz',
    'url_6' : 'https://datasets.imdbws.com/title.principals.tsv.gz',
    'url_7' : 'https://datasets.imdbws.com/title.ratings.tsv.gz',
}

In [21]:
#df = pd.read_table(source['url_3'], compression="gzip", sep="\t", chunksize = 10_000)

In [ ]:
df.read()

In [20]:
for chunk in df:
  print(chunk.head())

In [ ]:
for i in source.values():
  print(i)
  !curl -O {i}

In [34]:
!ls -la *[vs].gz #last letter are v or s and ends with '.gz'

-rw-r--r-- 1 root root 262507426 Mar  6 22:23 name.basics.tsv.gz
-rw-r--r-- 1 root root 328776487 Mar  6 22:23 title.akas.tsv.gz
-rw-r--r-- 1 root root 185874473 Mar  6 22:24 title.basics.tsv.gz
-rw-r--r-- 1 root root  70525651 Mar  6 22:24 title.crew.tsv.gz
-rw-r--r-- 1 root root  44486991 Mar  6 22:24 title.episode.tsv.gz
-rw-r--r-- 1 root root 469573708 Mar  6 22:24 title.principals.tsv.gz
-rw-r--r-- 1 root root   7089117 Mar  6 22:24 title.ratings.tsv.gz

In [37]:
ls -la [nt]* #con tains anything that begins with an n or a t

-rw-r--r-- 1 root root 262507426 Mar  6 22:23 name.basics.tsv.gz
-rw-r--r-- 1 root root 328776487 Mar  6 22:23 title.akas.tsv.gz
-rw-r--r-- 1 root root 185874473 Mar  6 22:24 title.basics.tsv.gz
-rw-r--r-- 1 root root  70525651 Mar  6 22:24 title.crew.tsv.gz
-rw-r--r-- 1 root root  44486991 Mar  6 22:24 title.episode.tsv.gz
-rw-r--r-- 1 root root 469573708 Mar  6 22:24 title.principals.tsv.gz
-rw-r--r-- 1 root root   7089117 Mar  6 22:24 title.ratings.tsv.gz

In [ ]:
ls -la *[nt]* #contains an n or a t

In [38]:
!gunzip -l *.gz

         compressed        uncompressed  ratio uncompressed_name
          262507426           808103346  67.5% name.basics.tsv
          328776487          1926589417  82.9% title.akas.tsv
          185874473           910811312  79.6% title.basics.tsv
           70525651           350306131  79.9% title.crew.tsv
           44486991           211624497  79.0% title.episode.tsv
          469573708          2678094153  82.5% title.principals.tsv
            7089117            24463250  71.0% title.ratings.tsv
         1368833853          6909992106  80.2% (totals)

In [42]:
f"{6909992106:_}" #

'6_909_992_106'

In [3]:
!gunzip *.gz #unzips all of them
!ls *.tsv #searches for files ending in *.tsv

name.basics.tsv  title.basics.tsv  title.episode.tsv	 title.ratings.tsv
title.akas.tsv	 title.crew.tsv    title.principals.tsv

In [9]:
!ls -laS --si *.tsv #S sorts by size and r reverses the order --si gives human readable

-rw-r--r-- 1 root root 2.7G Mar  6 22:24 title.principals.tsv
-rw-r--r-- 1 root root 2.0G Mar  6 22:23 title.akas.tsv
-rw-r--r-- 1 root root 911M Mar  6 22:24 title.basics.tsv
-rw-r--r-- 1 root root 809M Mar  6 22:23 name.basics.tsv
-rw-r--r-- 1 root root 351M Mar  6 22:24 title.crew.tsv
-rw-r--r-- 1 root root 212M Mar  6 22:24 title.episode.tsv
-rw-r--r-- 1 root root  25M Mar  6 22:24 title.ratings.tsv

In [6]:
names = !ls -1 *.tsv

In [53]:
names

['name.basics.tsv',
 'title.akas.tsv',
 'title.basics.tsv',
 'title.crew.tsv',
 'title.episode.tsv',
 'title.principals.tsv',
 'title.ratings.tsv']

In [33]:
df = pd.read_csv(names[1], sep="\t", nrows=1000, na_values = '\\N', dtype = {'isOriginalTitle' : bool})

In [32]:
pd.read_csv?

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titleId          1000 non-null   object
 1   ordering         1000 non-null   int64
 2   title            1000 non-null   object
 3   region           759 non-null    object
 4   language         71 non-null     object
 5   types            821 non-null    object
 6   attributes       80 non-null     object
 7   isOriginalTitle  1000 non-null   bool
dtypes: bool(1), int64(1), object(6)
memory usage: 55.8+ KB

In [41]:
df.memory_usage(deep = True)

Index                128
titleId            66000
ordering            8000
title              92199
region             52534
language           33917
types              60850
attributes         35347
isOriginalTitle     1000
dtype: int64

In [28]:
df.head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
6,tt0000001,7,Carmencita,NaN,NaN,original,NaN,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,NaN,0
8,tt0000002,1,Le clown et ses chiens,NaN,NaN,original,NaN,1
9,tt0000002,2,Le clown et ses chiens,FR,NaN,imdbDisplay,NaN,0

In [37]:
df['attributes'].value_counts()

informal title                19
literal title                 12
literal English title         12
informal English title         6
informal alternative title     5
reissue title                  4
transliterated title           3
premiere title                 3
long title                     2
copyright title                2
alternative spelling           2
new title                      2
short title                    2
bowdlerized title              1
original script title          1
complete title                 1
promotional title              1
informal short title           1
première title                 1
Name: attributes, dtype: int64

In [23]:
df.nunique()

titleId            222
ordering            28
title              730
region              37
language             9
types                6
attributes          20
isOriginalTitle      2
dtype: int64

In [39]:
df.isna().sum()

titleId              0
ordering             0
title                0
region             241
language           929
types              179
attributes         920
isOriginalTitle      0
dtype: int64

In [16]:
!wc {names[1]}

  38893612  379500689 1926589417 title.akas.tsv

In [36]:
f'{38893612*(349975/1000):_}'

'13_611_791_859.7'

In [51]:
!cat {names[1]} | cut -f 5 | sort | uniq -c | sort -rn | cat -n

     1	6986361 \N
     2	4534728 ja
     3	4492500 fr
     4	4459661 hi
     5	4425295 es
     6	4424867 de
     7	4423117 it
     8	4422961 pt
     9	 518434 en
    10	  37159 tr
    11	  36949 cmn
    12	  36725 ru
    13	  26690 bg
    14	  10326 sv
    15	   8472 yue
    16	   8291 he
    17	   7250 qbn
    18	   6122 sr
    19	   5464 ca
    20	   4078 fa
    21	   1703 hr
    22	   1670 nl
    23	   1377 ar
    24	   1312 cs
    25	   1132 tl
    26	    927 ta
    27	    926 id
    28	    904 ml
    29	    840 sl
    30	    716 te
    31	    621 uk
    32	    561 qbp
    33	    542 sk
    34	    504 th
    35	    485 ms
    36	    468 bn
    37	    439 bs
    38	    336 ur
    39	    208 kn
    40	    202 mr
    41	    183 gl
    42	    162 af
    43	    159 la
    44	    158 ga
    45	    129 eu
    46	    103 cy
    47	     89 gu
    48	     86 gsw
    49	     83 az
    50	     82 lv
    51	     78 kk
    52	     76 mk
    53	     73 lt
    54	     70 yi
    55	     67 pa
    56	     63 ka
    57	     55 mi
    58	     55 gd
    59	     47 qal
    60	     42 et
    61	     39 el
    62	     36 uz
    63	     32 ro
    64	     32 hy
    65	     26 lb
    66	     26 hu
    67	     24 be
    68	     20 zu
    69	     17 fi
    70	     15 qbo
    71	     14 tg
    72	     13 ko
    73	     13 da
    74	     12 zh
    75	     11 xh
    76	     10 tk
    77	     10 ps
    78	     10 pl
    79	      8 sd
    80	      7 no
    81	      6 st
    82	      5 wo
    83	      5 ky
    84	      4 vi
    85	      4 tn
    86	      4 mn
    87	      3 ku
    88	      2 is
    89	      1 su
    90	      1 sq
    91	      1 roa
    92	      1 rn
    93	      1 rm
    94	      1 qac
    95	      1 prs
    96	      1 ne
    97	      1 myv
    98	      1 my
    99	      1 lo
   100	      1 language
   101	      1 jv
   102	      1 jsl
   103	      1 iu
   104	      1 haw
   105	      1 fro
   106	      1 eka
   107	      1 cr
   108	      1 br
   109	      1 am